@if(isRequired('email')) {
<div class="alert alert-danger">
    <strong>Error email</strong> required fields.
</div>
}
@if(hasEmailError()) {
<div class="alert alert-danger">
    <strong>Error email</strong> email must be valid
</div>
}

@if(isRequired('password')) {
<div class="alert alert-danger">
    <strong>Error password</strong> required fields.
</div>
}

@if(successMessage()) {
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> {{ successMessage() }}
</div>
}
@if (errorMessage()) {
<div class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{ errorMessage() }}
</div>
}




<div class="container d-flex align-items-center justify-content-center min-vh-100">

    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">

        <h3 class="card-title text-center mb-4"> <i class="fa-solid fa-circle-user"></i>
            Sign in to your account 
        </h3>

        <form [formGroup]="form" (ngSubmit)="submitSignIn()">
            <div class="form-group mb-3">
                <label for="email">Email address</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">

            </div>
            <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password"
                    placeholder="Password">

            </div>

            <button type="submit" class="btn btn-outline-success btn-block w-100">Login</button>

        </form>

        <hr>

        <div class="row">
            <div class="col"> <app-google-button (onClick)="submitWithGoogle()" /></div>
            <div class="col"> <button class="btn btn-outline-secondary" routerLink="/auth/sign-up">Register an
                    account?</button>
            </div>
        </div>

    </div>
</div>